body {
    height: 100vh;
    background-color: #89565f !important;
    font-family: 'Montserrat', bold, !important;
} 
.container {
    height: 85%;
    width: 100%;
}
.mini {
    height: 20%;
}


.header {
    text-align: center;
    font-size: calc(10px + 13vmin);
    font-weight: 900;
    color:  #89565f;
    line-height: 85%;
}

.name {
    text-align: right;
    font-size: calc(8px + 4vmin);
    font-weight: 900;
    color:  #e3f574;
    line-height: 80%;
}

.gh {
    text-align: right;
    font-weight: 400;
    color:  #e3f574;
}

a {
    text-align: right;
    color:  #e3f574;
}
a:link {
    text-align: right;
    color:  #e3f574;
}
a:visited{
    text-align: right;
    color:  #e3f574; 
}
a:hover {
    text-align: right;
    color:  #f88dfa;
}


/* SVG GRAPHIC */

svg {
    position: absolute;
    z-index: -1
}

/* petals */
.segment-fill {
    fill: var(--segment-fill-fill);
}

/* outer petals */
#outer-petals {
    opacity: 1;
    --segment-fill-fill: #e3f574;
}

#outer-petals .segment-fill {
    fill: #e3f574;
}
